/* #map {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
}

.map {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
} */


/* body {
    margin: 0;
    padding: 0;
} */

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 35%;
}